body {
  margin: 0;
  background-color: var(--light-bg);
  color: var(--text-dark);
}

.logo {
  background-color: var(--pastel-blue);
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
}

.content-block {
  background-color: var(--white);
  margin: 20px 5%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;

  max-width: 100%;
}

footer {
  background-color: var(--dark-bg);
  color: var(--text-light);
  text-align: center;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 15px;
}
