@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.bubble-font {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
}

.pastel-colors {
    background-color: #dab6fc; /* pastel paars */
    color: #044b91; /* donkerblauw */
}

.circle-shape {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
