.cascading-parent {
    font-weight: bold;  
    color: blue;
}

.cascading-child {
    background-color: rgb(238, 174, 202);
    width: 200px;
    height: 200px;
    border: 2px solid rgb(109, 15, 96);
    font-size: 16px;
    display: flex;
    color: rgb(109, 15, 96);
    align-items: center;
    justify-content: center;
}